<div
  class="container mx-auto py-4 md:py-8 px-2 md:px-4 gap-4 min-h-0 flex-grow flex justify-center"
>
  <div
    class="flex flex-col items-center min-h-0 justify-stretch w-full max-w-[400px] sm:max-w-[640px]"
  >
    <h2 class="mb-4 text-xl md:text-2xl font-medium text-white">
      {{@model.format.name}}
    </h2>
    <div
      class="rounded-md border border-zinc-700/60 flex-grow overflow-auto p-2 w-full"
      id="raw-container"
      {{!-- {{click-outside this.handleClickOutside}} --}}
    >
      <HexPreview
        @section="root-hexdump"
        @byteIndexForInterstitial={{if
          this.highlightedSegment
          this.highlightedSegment.endByteIndex
          0
        }}
        @data={{this.data}}
        @segments={{this.segments}}
        @highlightedSegment={{this.highlightedSegment}}
        @onSegmentSelect={{this.handleSegmentSelected}}
        @onSegmentMouseEnter={{this.handleSegmentMouseEnter}}
        @onSegmentMouseLeave={{this.handleSegmentMouseLeave}}
      >
        <:interstitial>
          {{#if this.highlightedSegment}}
            <div
              class="rounded-md border border-yellow-500/40 shadow p-3 pt-2 w-full my-2 scroll-my-16"
              {{scroll-into-view-on-insert}}
            >
              <DataSegmentDetails
                @data={{this.data}}
                @segment={{this.highlightedSegment}}
                @onSegmentSelect={{this.handleSegmentSelected}}
                @onSegmentMouseEnter={{this.handleSegmentMouseEnter}}
                @onSegmentMouseLeave={{this.handleSegmentMouseLeave}}
              />
            </div>
          {{/if}}
        </:interstitial>
      </HexPreview>
    </div>
  </div>
</div>