<div class="container mx-auto py-8 flex flex-grow items-stretch">
  <div class="grid grid-cols-2 gap-4">
    <div class="flex flex-col items-stretch">
      <h2 class="mb-2 text-lg font-medium text-white">Structure</h2>
      <div class="w-full rounded-md border border-zinc-700/60 flex-grow p-4">
        <DataSegmentList
          @segments={{this.sampleSegments}}
          @highlightedSegment={{this.highlightedSegment}}
          @onSegmentSelect={{this.handleSegmentSelected}}
          @onSegmentMouseEnter={{this.handleSegmentMouseEnter}}
          @onSegmentMouseLeave={{this.handleSegmentMouseLeave}}
        />
      </div>
    </div>
    <div class="flex flex-col items-stretch">
      <h2 class="mb-2 text-lg font-medium text-white">Raw</h2>
      <div class="w-full rounded-md border border-zinc-700/60 flex-grow">
        <HexPreview
          @data={{this.sampleData}}
          @highlightedSegment={{this.highlightedSegment}}
          @onSegmentSelect={{this.handleSegmentSelected}}
        />
      </div>
    </div>
  </div>
</div>