<div class="flex flex-col items-stretch" ...attributes>
  <div
    class="cursor-pointer py-0.5"
    {{on "mouseenter" (fn @onSegmentMouseEnter "other" @segment undefined)}}
    {{on "mouseleave" @onSegmentMouseLeave}}
  >
    <div role="button" {{on "click" (fn @onSegmentSelect @segment)}}>
      <div class="text-xs font-extralight {{this.titleTextColorClasses}}">
        <span class="opacity-20">-</span>
        {{@segment.titleForDisplay}}
      </div>
    </div>
  </div>

  {{#if (gt this.childrenToRender.length 0)}}
    <div class="pl-2 flex flex-col gap-0.5 my-0.5">
      {{#each this.childrenToRender as |child|}}
        <DataSegmentListItem
          @data={{@data}}
          @segment={{child}}
          @isExpanded={{segment-contains child @highlightedSegment}}
          @highlightedSegment={{@highlightedSegment}}
          @onSegmentSelect={{@onSegmentSelect}}
          @onSegmentMouseEnter={{@onSegmentMouseEnter}}
          @onSegmentMouseLeave={{@onSegmentMouseLeave}}
        />
      {{/each}}
    </div>
  {{/if}}
</div>