<div class="flex flex-col">
  {{#each @segments as |segment segmentIndex|}}
    <DataSegmentListItem
      @segment={{segment}}
      @isExpanded={{segment-eq segment @highlightedSegment}}
      @highlightedSegment={{@highlightedSegment}}
      @hoveredSegment={{@hoveredSegment}}
      @onSegmentSelect={{@onSegmentSelect}}
      @onSegmentMouseEnter={{@onSegmentMouseEnter}}
      @onSegmentMouseLeave={{@onSegmentMouseLeave}}
    />

    {{#if (not-eq segmentIndex (sub @segments.length 1))}}
      <div class="h-px w-full bg-zinc-700/60 my-4" />
    {{/if}}
  {{/each}}
</div>