<div class="flex flex-col" ...attributes>
  {{#each @segments as |segment|}}
    <DataSegmentListItem
      @data={{@data}}
      @segment={{segment}}
      @isExpanded={{segment-contains segment @highlightedSegment}}
      @highlightedSegment={{@highlightedSegment}}
      @onSegmentSelect={{@onSegmentSelect}}
      @onSegmentMouseEnter={{@onSegmentMouseEnter}}
      @onSegmentMouseLeave={{@onSegmentMouseLeave}}
    />
  {{/each}}
</div>