<div ...attributes>
  <DataSegmentDetails::TitleWithBreadcrumbs
    @segment={{@segment}}
    @onSegmentSelect={{@onSegmentSelect}}
    @onSegmentMouseEnter={{@onSegmentMouseEnter}}
    @onSegmentMouseLeave={{@onSegmentMouseLeave}}
  />

  {{#if (gt @segment.children.length 0)}}
    <DataSegmentDetails::Children
      {{!-- class="mt-1" --}}
      @segment={{@segment}}
      @onSegmentSelect={{@onSegmentSelect}}
      @onSegmentMouseEnter={{@onSegmentMouseEnter}}
      @onSegmentMouseLeave={{@onSegmentMouseLeave}}
    />
  {{/if}}

  {{#if @segment.explanationMarkdown}}
    <div class="prose prose-invert prose-sm mt-2">
      {{markdown-to-html @segment.explanationMarkdown}}
    </div>
  {{/if}}

  <HexPreview
    class="mt-3 w-full"
    @data={{@data}}
    @endByteIndex={{this.previewEndByteIndex}}
    @highlightedSegment={{@segment}}
    @onSegmentMouseEnter={{@onSegmentMouseEnter}}
    @onSegmentMouseLeave={{@onSegmentMouseLeave}}
    @onSegmentSelect={{@onSegmentSelect}}
    @section="segment-details-hexdump"
    @segments={{array @segment}}
    @startByteIndex={{@segment.startByteIndex}}
  >
    <:lastBytePreview>
      {{#if this.previewIsTruncated}}
        <div class="flex items-center justify-center">
          <span class="text-lg text-zinc-500">⋯</span>
        </div>
      {{/if}}
    </:lastBytePreview>
  </HexPreview>
</div>