<div class="flex flex-col items-stretch" ...attributes>
  <div
    class="cursor-pointer hover:bg-zinc-700/60"
    role="button"
    {{on "click" (fn @onSegmentSelect @segment)}}
  >
    <h2
      class="mb-2 text-lg font-medium
        {{if
          this.isHighlightedSegment
          'text-yellow-300'
          'text-white'
        }}"
    >
      {{@segment.titleForDisplay}}
    </h2>

    <div class="prose prose-invert prose-sm">
      {{markdown-to-html @segment.explanationMarkdown}}
    </div>
  </div>

  {{#if @segment.children}}
    <div class="pl-4 flex flex-col gap-4 py-4">
      {{#each @segment.children as |child|}}
        <DataSegmentListItem
          @segment={{child}}
          @isExpanded={{false}}
          @highlightedSegment={{@highlightedSegment}}
          @onSegmentSelect={{@onSegmentSelect}}
        />
      {{/each}}
    </div>
  {{/if}}
</div>