<div ...attributes>
  <div class="flex items-center w-full">
    <DataSegmentDetails::TitleWithBreadcrumbs
      @segment={{@segment}}
      @onSegmentSelect={{@onSegmentSelect}}
      @onSegmentMouseEnter={{@onSegmentMouseEnter}}
      @onSegmentMouseLeave={{@onSegmentMouseLeave}}
    />

    {{#if (has-block "topRight")}}
      <div class="flex-grow flex items-center justify-end pl-2">
        {{yield to="topRight"}}
      </div>
    {{/if}}
  </div>

  {{#if (gt @segment.children.length 0)}}
    <DataSegmentDetails::Children
      class="mt-1"
      @segment={{@segment}}
      @onSegmentSelect={{@onSegmentSelect}}
      @onSegmentMouseEnter={{@onSegmentMouseEnter}}
      @onSegmentMouseLeave={{@onSegmentMouseLeave}}
    />
  {{/if}}

  {{#if @segment.explanationMarkdown}}
    <div class="prose prose-invert prose-sm mt-2">
      {{markdown-to-html @segment.explanationMarkdown}}
    </div>
  {{/if}}

  {{#if @segment.isLeafSegment}}
    <div class="mt-3 text-xs uppercase text-zinc-500 font-semibold">
      {{@segment.lengthInBytes}}
      {{if (eq @segment.lengthInBytes 1) "byte" "bytes"}}:
    </div>

    <HexPreview
      class="mt-2 w-full"
      @data={{@data}}
      @endByteIndex={{this.previewEndByteIndex}}
      @highlightedSegment={{@segment}}
      @onSegmentMouseEnter={{@onSegmentMouseEnter}}
      @onSegmentMouseLeave={{@onSegmentMouseLeave}}
      @onSegmentSelect={{@onSegmentSelect}}
      @section="segment-details-hexdump"
      @segments={{array @segment}}
      @startByteIndex={{@segment.startByteIndex}}
    >
      <:lastBytePreview>
        {{#if this.previewIsTruncated}}
          <div class="flex items-center justify-center">
            <span class="text-lg text-zinc-500">⋯</span>
          </div>
        {{/if}}
      </:lastBytePreview>
    </HexPreview>
  {{/if}}
</div>