<div class="grid grid-cols-16" ...attributes>
  {{#each this.bytePreviewParamsList as |params|}}
    {{! template-lint-disable require-presentational-children }}
    <HexPreview::BytePreview
      @index={{params.byteIndex}}
      @rawValue={{params.rawValue}}
      @highlightedSegment={{@highlightedSegment}}
      @leafSegment={{params.leafSegment}}
      {{on "click" (fn this.handleBytePreviewClick params.byteIndex)}}
      {{on "mouseenter" (fn this.handleBytePreviewMouseEnter params.byteIndex)}}
      {{on "mouseleave" (fn this.handleBytePreviewMouseLeave params.byteIndex)}}
      role="button"
    >
      {{#if this.segmentForTooltip}}
        {{#if (eq this.segmentForTooltip.startByteIndex params.byteIndex)}}
          <HexPreview::SegmentTooltip @segment={{this.segmentForTooltip}} />
        {{/if}}
      {{/if}}
    </HexPreview::BytePreview>
  {{/each}}
</div>