<div class="grid grid-cols-16 w-[640px]" ...attributes>
  {{#each this.byteLines as |line|}}
    {{#each line.items as |item|}}
      {{! template-lint-disable require-presentational-children }}
      <HexPreview::BytePreview
        @index={{item.byteIndex}}
        @rawValue={{item.rawValue}}
        @highlightedSegment={{@highlightedSegment}}
        @leafSegment={{item.leafSegment}}
        {{on "click" (fn this.handleBytePreviewClick item.byteIndex)}}
        {{on "mouseenter" (fn this.handleBytePreviewMouseEnter item.byteIndex)}}
        {{on "mouseleave" (fn this.handleBytePreviewMouseLeave item.byteIndex)}}
        role="button"
      >
        {{#if this.segmentForTooltip}}
          {{#if (eq this.segmentForTooltip.startByteIndex item.byteIndex)}}
            <HexPreview::SegmentTooltip @segment={{this.segmentForTooltip}} />
          {{/if}}
        {{/if}}
      </HexPreview::BytePreview>
    {{/each}}

    {{#if
      (and
        (has-block "interstitial")
        (lte @byteIndexForInterstitial line.endByteIndex)
        (gte @byteIndexForInterstitial line.startByteIndex)
      )
    }}
      <div class="inline-flex col-span-16">
        {{yield to="interstitial"}}
      </div>
    {{/if}}
  {{/each}}
</div>