<div class="grid grid-cols-16" ...attributes>
  {{#each this.byteLines key="index" as |line|}}
    {{#each line.items key="index" as |item|}}
      {{! template-lint-disable require-presentational-children }}
      <HexPreview::BytePreview
        @index={{item.byteIndex}}
        @rawValue={{item.rawValue}}
        @highlightedSegment={{@highlightedSegment}}
        {{on "click" (fn this.handleBytePreviewClick item.byteIndex)}}
        {{on "mouseenter" (fn this.handleBytePreviewMouseEnter item.byteIndex)}}
        {{on "mouseleave" (fn this.handleBytePreviewMouseLeave item.byteIndex)}}
        role={{if item.isClickable "button" "presentation"}}
      >
        {{#if (eq this.tooltipParams.byteIndex item.byteIndex)}}
          {{#if this.tooltipParams.segment}}
            <HexPreview::SegmentTooltip
              @segment={{this.tooltipParams.segment}}
            />
          {{/if}}
        {{/if}}
      </HexPreview::BytePreview>
    {{/each}}

    {{#if
      (and
        (has-block "interstitial")
        (lte @byteIndexForInterstitial line.endByteIndex)
        (gte @byteIndexForInterstitial line.startByteIndex)
      )
    }}
      <div class="inline-flex col-span-16">
        {{yield to="interstitial"}}
      </div>
    {{/if}}
  {{/each}}
</div>