<div class="flex items-center" ...attributes>
  <svg
    class="h-3 w-3 flex-shrink-0 text-zinc-400/40 hover:text-blue-400"
    role="button"
    viewBox="0 0 20 20"
    fill="currentColor"
    aria-hidden="true"
  >
    <path
      fill-rule="evenodd"
      d="M9.293 2.293a1 1 0 011.414 0l7 7A1 1 0 0117 11h-1v6a1 1 0 01-1 1h-2a1 1 0 01-1-1v-3a1 1 0 00-1-1H9a1 1 0 00-1 1v3a1 1 0 01-1 1H5a1 1 0 01-1-1v-6H3a1 1 0 01-.707-1.707l7-7z"
      clip-rule="evenodd"
    />
  </svg>
  <svg
    class="h-3 w-3 flex-shrink-0 text-zinc-400/40"
    viewBox="0 0 20 20"
    fill="currentColor"
    aria-hidden="true"
  >
    <path
      fill-rule="evenodd"
      d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
      clip-rule="evenodd"
    />
  </svg>
  {{#each @segment.ancestorsReversed as |ancestor ancestorIndex|}}
    <div
      role="button"
      class="inline-flex text-xs border-b
        {{if
          (segment-eq ancestor this.hoveredSegment)
          'text-blue-400 border-blue-400/80'
          'text-zinc-400 border-zinc-400/20'
        }}"
      {{on "click" (fn @onSegmentSelect ancestor)}}
      {{on "mouseenter" (fn @onSegmentMouseEnter "other" ancestor undefined)}}
      {{on "mouseleave" (fn @onSegmentMouseLeave "other" ancestor)}}
    >
      {{ancestor.titleForDisplay}}
    </div>

    {{#if (lt ancestorIndex (sub @segment.ancestorsReversed.length 1))}}
      <svg
        class="h-3 w-3 flex-shrink-0 text-zinc-400/40"
        viewBox="0 0 20 20"
        fill="currentColor"
        aria-hidden="true"
      >
        <path
          fill-rule="evenodd"
          d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
          clip-rule="evenodd"
        />
      </svg>
    {{/if}}
  {{/each}}
</div>