<div ...attributes>
  {{!-- <span class="text-xs text-zinc-400/80 uppercase font-medium mb-1">
    Contains:
  </span> --}}

  {{#each @segment.children as |child|}}
    <SegmentAncestorsTooltipItem
      @segment={{child}}
      @highlightedSegment={{@segment}}
      @indentationLevel={{0}}
      {{on "mouseenter" (fn @onSegmentMouseEnter "other" child undefined)}}
      {{on "mouseleave" @onSegmentMouseLeave}}
      {{on "click" (fn @onSegmentSelect child)}}
    />
  {{/each}}
</div>