<div
  class="inline-flex rounded items-stretch shadow-sm select-none"
  ...attributes
>
  {{#if @segment.previousSibling}}
    <div
      role="button"
      class="rounded-l border-r-0 flex items-center border border-zinc-700 transition-colors duration-75 px-1.5 py-1.5 text-zinc-500 bg-zinc-800 hover:bg-zinc-700/60"
      {{on "click" (fn @onSegmentSelect @segment.previousSibling)}}
      {{on
        "mouseenter"
        (fn @onSegmentMouseEnter "other" @segment.previousSibling 0)
      }}
      {{on "mouseleave" @onSegmentMouseLeave}}
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        class="w-4"
      >
        <path
          fill-rule="evenodd"
          d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
          clip-rule="evenodd"
        />
      </svg>
    </div>
  {{else}}
    <div
      class="rounded-l border-r-0 flex items-center border border-zinc-700 transition-colors duration-75 px-1.5 py-1.5 text-zinc-500 bg-zinc-800 cursor-not-allowed"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        class="w-4 opacity-30"
      >
        <path
          fill-rule="evenodd"
          d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
          clip-rule="evenodd"
        />
      </svg>

      <EmberTooltip
        @text="This is the first segment in {{@segment.parent.title}}"
      />
    </div>
  {{/if}}

  <div class="w-px bg-zinc-700"></div>

  {{#if @segment.nextSibling}}
    <div
      role="button"
      class="rounded-r border-l-0 flex items-center border border-zinc-700 transition-colors duration-75 px-1.5 py-1.5 text-zinc-500 bg-zinc-800 hover:bg-zinc-50 dark:hover:bg-zinc-700/60"
      {{on "click" (fn @onSegmentSelect @segment.nextSibling)}}
      {{on
        "mouseenter"
        (fn @onSegmentMouseEnter "other" @segment.nextSibling 0)
      }}
      {{on "mouseleave" @onSegmentMouseLeave}}
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        class="w-4"
      >
        <path
          fill-rule="evenodd"
          d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
          clip-rule="evenodd"
        />
      </svg>
    </div>
  {{else}}
    <div
      class="rounded-r border-l-0 flex items-center border border-zinc-300 dark:border-zinc-700 transition-colors duration-75 px-1.5 py-1.5 text-zinc-500 bg-white dark:bg-zinc-800 cursor-not-allowed"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        class="w-4 opacity-30"
      >
        <path
          fill-rule="evenodd"
          d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
          clip-rule="evenodd"
        />
      </svg>

      <EmberTooltip
        @text="This is the last segment in {{@segment.parent.title}}"
      />
    </div>
  {{/if}}
</div>