<div
  class="flex px-2 py-1 items-center justify-center border border-transparent
    {{this.backgroundColorClasses}}"
  ...attributes
>
  <div>
    <div class="font-mono text-lg {{this.hexTextColorClasses}}">
      {{this.hexString}}
    </div>
    <div
      class="font-mono text-[0.6em] text-right {{this.asciiTextColorClasses}}"
    >
      &nbsp;{{this.asciiString}}
    </div>
  </div>
</div>