<div
  class="flex px-2 py-1 items-center justify-center border border-transparent
    {{this.backgroundColorClasses}}"
  id="byte-preview-{{@index}}"
  ...attributes
>
  <div>
    <div class="font-mono text-lg {{this.hexTextColorClasses}}">
      {{this.hexString}}
    </div>
    <div
      class="font-mono text-[0.6em] text-right {{this.asciiTextColorClasses}}"
    >
      &nbsp;{{this.asciiString}}
    </div>
  </div>

  {{yield}}
</div>